{% extends 'base.html.twig' %}

{% block body %}
	<div class="container-md text-center mt-4">
		<img class="img-fluid" alt="Responsive image" src="{{ asset('images/adminbg.jpg') }}">
	</div>
{% endblock %}
