<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %} My Symfony Website {% endblock %}</title>
        {# Run `composer require symfony/webpack-encore-bundle`
           and uncomment the following Encore helpers to start using Symfony UX #}
        {% block stylesheets %}
        <!-- CSS only -->
        <link href="{{ asset('css/customerbase.css') }}" rel="stylesheet" texttype="text/css">
        {% endblock %}

        {% block link %}{% endblock %}
    </head>
    <body>
        {% block nav %}
        <div class="fullWidth header">
  <div class="container">
    <div class="col-xs-12 col-sm-2 col-md-3 col-md-offset-1 col-lg-4 col-lg-offset-1 header-logo header-logo-name"><a href="#" class="header-logo-name">Web name</a></div>
    <div class="col-xs-12 col-sm-10 col-md-8 col-lg-6 header-nav">
      <ul>
        <li>
          <a href="#" class="header-nav-link header-nav-top-link">Home</a>
        </li>
        <li>
          <a href="#" class="header-nav-link header-nav-top-link">Category</a>
          <ul>
            <li><a href="#" class="header-nav-link header-nav-sub-link">Category 1</a></li>
            <li><a href="#" class="header-nav-link header-nav-sub-link">Category 2</a></li>
            <li><a href="#" class="header-nav-link header-nav-sub-link">Category 3</a></li>
            <li><a href="#" class="header-nav-link header-nav-sub-link">Category 4</a></li>
          </ul>
        </li>
        <li>
          <a href="#" class="header-nav-link header-nav-top-link">Product</a>
          <ul>
            <li><a href="#" class="header-nav-link header-nav-sub-link">Product 1</a></li>
            <li><a href="#" class="header-nav-link header-nav-sub-link">Product 2</a></li>
            <li><a href="#" class="header-nav-link header-nav-sub-link">Product 3</a></li>
            <li><a href="#" class="header-nav-link header-nav-sub-link">More Product...</a></li>
          </ul>
        </li>
        <li>
          <a href="#" class="header-nav-link header-nav-top-link">User</a>
        </li>
        <li>
          <a href="#" class="header-nav-link header-nav-top-link">Cart</a>
        </li>
        <li>
        <form>
          <button class="btn btn-outline-success header-nav-link header-nav-top-link search-container" type="submit"><input type="search" name="search" placeholder="Type..." class="search-input">Search</button>
        </form>
        </li>
        <li>
          <a href="#" class="header-nav-link header-nav-top-link">Logout</a>
        </li>
      </ul>
    </div>
  </div>
</div>       
        {% endblock %}
        {% block body %}{% endblock %}
        {% block footer %}
         

{# <footer class="bg-primary text-white text-center text-lg-start">
  <!-- Grid container -->
  <div class="container p-4">
    <!--Grid row-->
    <div class="row">
      <!--Grid column-->
      <div class="col-lg-6 col-md-12 mb-4 mb-md-0">
        <h5 class="text-uppercase">Footer Content</h5>

        <p>
          Lorem ipsum dolor sit amet consectetur, adipisicing elit. Iste atque ea quis
          molestias. Fugiat pariatur maxime quis culpa corporis vitae repudiandae aliquam
          voluptatem veniam, est atque cumque eum delectus sint!
        </p>
      </div>
      <!--Grid column-->

      <!--Grid column-->
      <div class="col-lg-3 col-md-6 mb-4 mb-md-0">
        <h5 class="text-uppercase">Links</h5>

        <ul class="list-unstyled mb-0">
          <li>
            <a href="#!" class="text-white">Link 1</a>
          </li>
          <li>
            <a href="#!" class="text-white">Link 2</a>
          </li>
          <li>
            <a href="#!" class="text-white">Link 3</a>
          </li>
          <li>
            <a href="#!" class="text-white">Link 4</a>
          </li>
        </ul>
      </div>
      <!--Grid column-->

      <!--Grid column-->
      <div class="col-lg-3 col-md-6 mb-4 mb-md-0">
        <h5 class="text-uppercase mb-0">Links</h5>

        <ul class="list-unstyled">
          <li>
            <a href="#!" class="text-white">Link 1</a>
          </li>
          <li>
            <a href="#!" class="text-white">Link 2</a>
          </li>
          <li>
            <a href="#!" class="text-white">Link 3</a>
          </li>
          <li>
            <a href="#!" class="text-white">Link 4</a>
          </li>
        </ul>
      </div>
      <!--Grid column-->
    </div>
    <!--Grid row-->
  </div>
  <!-- Grid container -->

  <!-- Copyright -->
  <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2);">
    © 2020 Copyright:
    <a class="text-white" href="https://mdbootstrap.com/">MDBootstrap.com</a>
  </div>
  <!-- Copyright -->
</footer> #}

        {% endblock %}
    </body>
</html>
